@import "../../styles/variables";
.filters {
  border-bottom: 1px solid $grey;
  padding-bottom: 20px;
}

.filters__input {
  display: grid;
  grid-gap: 30px;
  @include tablet-desktop {
    grid-auto-flow: column;

  }
}
