.reward {
  &__name {
    margin: 8px 0 8px 0;
  }
  &__img {
    width: 100%;
  }
  &__desc {
    margin-top: 10px;
  }
  &__meta {
    padding: 0;
    font-size: 12px;
    color: #ccc;
    line-height: 20px;
  }
}
