@import "../../styles/variables";
.input-label {
  font-size: 12px;
  line-height: 22px;
  display: block;
  margin-bottom: 10px;
}

.input-field {
  display: block;
  border: 1px solid $primary_grey;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
